a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size:40px;
  text-align:center;
  border:1px solid black;
  margin:0;
  padding:20px;
}
h2 {
  text-align:center;
  border:1px solid black;
  margin-bottom: :20px;
  padding:20px;

}

.saw {
  color:black;
}
body {
  margin:50px;
}
#grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
ol {
  margin-top: 5px;
  text-align: center;

}
